{% extends 'landing/base.html' %}
{% load static %}

<!-- Block container for Colors -->
{% block content %}
<style>
    /* Styles for the card */
    .card {
        background-color: #3498db; /* Default background color */
        padding: 20px;
        text-align: center;
    }

    /* Responsive layout for the card */
    @media screen and (max-width: 600px) {
        .card {
            width: 100%;
        }
    }

    /* Button style */
    .change-color-button {
        padding: 10px 20px;
        background-color: #e74c3c; /* Button color */
        color: #31183d9e; /* Text color */
        border: none;
        cursor: pointer;
    }
</style>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'home' %}" class="btn btn-light">Back to Home</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="jumbotron text-center">
            <div class="card mb-3">
                <div class="row no_gutters">
                    <div class="col-md-2">
                        {% if user.is_authenticated %}
                            <!-- Code for authenticated users -->
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger">Add</button>
                                <button type="button" class="btn btn-warning">Application</button>
                                <button type="button" class="btn btn-success">Your Button Text</button>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <form method="POST" enctype="multipart/form-data" action="{% url 'send-email' %}">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    <p>{{ form.as_p }}</p>
                                    <input type="email" name="email" placeholder="Enter your email address" required>
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        {% else %}
                            <!-- Code for non-authenticated users -->
                            You're not allowed here!
                        {% endif %}
                        <!-- Your image element goes here -->
                        <img src="{{ profile.profile_pic.url }}" class="card-img">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.username }}</h5>
                            <!-- Your content here -->
                            <p>
                                <!-- Links -->
                                {% if profile.website_url %}
                                <a href="{{ profile.website_url }}" class="Website">Website</a>
                                {% endif %}
                                {% if profile.whatsapp_number %}
                                <a href="{{ profile.whatsapp_number }}" class="WhatsApp">whatsApp</a>
                                {% endif %}
                                {% if profile.zoom_url %}
                                <a href="{{ profile.zoom_url }}" class="zoom">Zoom</a>
                                {% endif %}
                                {% if profile.microsoftTeam_url %}
                                <a href="{{ profile.microsoftTeam_url }}" class="microsoft">microsoft</a>
                                {% endif %}
                                {% if profile.playstore_url %}
                                    <a href="{{ profile.playstore_url }}" class="google">Playstore</a>
                                {% endif %}
                                {% if profile.facebook_url %}
                                    <a href="{{ profile.facebook_url }}" class="facebook">Facebook</a>
                                {% endif %}
                                {% if profile.twitter_url %}
                                    <a href="{{ profile.twitter_url }}" class="twitter">Twitter</a>
                                {% endif %}
                                {% if profile.twitter_url %}
                                    <a href="{{ profile.youtube_url }}" class="youtube">Youtube</a>
                                {% endif %}
                                {% if profile.google_url %}
                                    <a href="{{ profile.google_url }}" class="google">Google</a>
                                {% endif %}
                                {% if profile.instagram_url %}
                                    <a href="{{ profile.instagram_url }}" class="instagram">Instagram</a>
                                {% endif %}
                                {% if profile.telegram_url %}
                                    <a href="{{ profile.telegram_url }}" class="telegram">Telegram</a>
                                {% endif %}
                                {% if profile.pinterest_url %}
                                    <a href="{{ profile.pinterest_url }}" class="pinterest">Pinterest</a>
                                {% endif %}
                                {% if profile.thread_url %}
                                    <a href="{{ profile.thread_url }}" class="thread">thread</a>
                                {% endif %}
                               
                            </p>
                            <!-- Bio -->
                            <p class="card-text">{{ profile.bio }}</p>
                            <!-- Profile followers -->
                            {% if profile.bio %}
                                <p>{{ profile.bio }}</p>
                            {% endif %}
                            <div class="mb-3">
                                <a href="{% url 'list-followers' profile.pk %}" class="post-link">Followers: {{ number_of_followers }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Colors followers -->
        <div class="row justify-content-center mt-5">
            <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 py-3">
                {% if user == request.user %}
                {% else %}
                    {% if is_following %}
                        <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'add-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-success" type="submit">Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <!-- End -->
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 border-bottom">
                <!-- Your additional content here -->
                <div>
                    <p class="post-text">
                        <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                    </p>
                </div>
                <div class="position-relative">
                    <p>{{ post.body }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>
                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Your scripts here -->

        <!-- Colors followers -->
        <div class="row justify-content-center mt-5">
            <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 py-3">
                {% if user == request.user %}
                {% else %}
                    {% if is_following %}
                        <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'add-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-success" type="submit">Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <!-- End -->

        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 border-bottom">
                <div>
                    <p class="post-text">
                        <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                    </p>
                </div>
                <div class="position-relative">
                    <p>{{ post.body }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>

                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div
