{% extends 'landing/base.html' %}
{% block title %}Create a New Profile Page!{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h2><a class="btn btn-warning bi bi-gear-wide-connected" target="_blank">Create Profile Page</a></h2>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning">Create Profile Page</button>
    </div>
    <!--creating auto author name -->
    <script>
        var name = "{{ user.pk }}";
        document.getElementById("elder").value = name;
    
    </script> 

    {% else %}

    You're not allowed here!

</div>
{% endif %}

<script>
    function addUrlField() {
        const urlTypeDropdown = document.getElementById('urlType');
        const dynamicUrlFields = document.getElementById('dynamicUrlFields');

        // Get the selected URL type
        const selectedUrlType = urlTypeDropdown.value;

        if (selectedUrlType) {
            const urlField = document.createElement('div');
            urlField.className = 'form-group m-3';

            const label = document.createElement('label');
            label.textContent = selectedUrlType.replace("_", " ").toUpperCase();
            urlField.appendChild(label);

            const input = document.createElement('input');
            input.name = selectedUrlType;
            input.type = 'text';
            input.placeholder = 'Enter ' + selectedUrlType.replace("_", " ");
            input.className = 'form-control';
            urlField.appendChild(input);

            const deleteButton = document.createElement('button');
            deleteButton.type = 'button';
            deleteButton.className = 'btn btn-danger';
            deleteButton.textContent = 'Delete';
            deleteButton.addEventListener('click', function() {
                dynamicUrlFields.removeChild(urlField);
            });
            urlField.appendChild(deleteButton);

            dynamicUrlFields.appendChild(urlField);
        }
    }
</script>


{% endblock %}